@use './colours.scss' as coloursys;
@use 'sass:string';

@function gtkalpha($c, $a) {
  @return string.unquote('alpha(#{$c},#{$a})');
}

// https://gitlab.gnome.org/GNOME/gtk/-/blob/gtk-3-24/gtk/theme/Adwaita/_colors-public.scss
$fg-color: #{'@theme_fg_color'};
$bg-color: #{'@theme_bg_color'};
$error: red;

window.NotificationPopups {
  all: unset;
}

.Notification .material-layout {
  margin: 0.5rem;
  margin-bottom: 1rem;
  background-color: coloursys.$bg;
  color: coloursys.$fg;
  border-radius: 2rem;
  min-width: 40rem;
  box-shadow: 0px 0px 4px 1px #1a1a1a44;
}

.Notification.critical .material-layout {
  box-shadow: 0px 0px 2px 2px coloursys.$error;
}

.material-layout * {
  font-size: 1rem;
}

.material-image {
  min-width: 5rem;
  min-height: 5rem;
  border-radius: 50%;
  background-size: cover;
  background-position: center;
  margin: 1.5rem;
  margin-right: 0;
}

.material-content {
  margin: 1.5rem;
}

.header-text > .app-name,
.interpunct {
  font-weight: bolder;
}

.header-text > .interpunct {
  margin: 0rem 0.5rem;
}

.header-text button {
  padding: 0.2rem;
  min-width: 0;
  min-height: 0;
}

.text > .summary {
  font-size: 1.5rem;
  font-weight: bold;
  margin: 0.2rem 0rem;
}

.actions {
  margin-top: 0.5rem;
}

.actions button{
  background-color: coloursys.$bg;
  padding: 0.3rem 1rem;
  border-radius: 1.5rem
}

.actions button:hover {
  background-color: coloursys.$wm_button_hover_color_a;
}
