[ColorEffects:Inactive]
ChangeSelectionColor=false

[Colors:Button]
BackgroundNormal    = {{ .iroha.primaryContainer.r }},{{ .iroha.primaryContainer.g }},{{ .iroha.primaryContainer.b }}
BackgroundAlternate = {{ .iroha.primaryContainer.r }},{{ .iroha.primaryContainer.g }},{{ .iroha.primaryContainer.b }}
ForegroundNormal    = {{ .iroha.onPrimaryContainer.r }},{{ .iroha.onPrimaryContainer.g }},{{ .iroha.onPrimaryContainer.b }}
DecorationFocus     = {{ .iroha.tertiary.r }},{{ .iroha.tertiary.g }},{{ .iroha.tertiary.b }}
DecorationHover     = {{ .iroha.tertiary.r }},{{ .iroha.tertiary.g }},{{ .iroha.tertiary.b }}

[Colors:Selection]
BackgroundNormal    = {{ .iroha.secondary.r }},{{ .iroha.secondary.g }},{{ .iroha.secondary.b }}
ForegroundNormal    = {{ .iroha.onSecondary.r }},{{ .iroha.onSecondary.g }},{{ .iroha.onSecondary.b }}

[Colors:View]
BackgroundAlternate = {{ .iroha.surfaceVariant.r }},{{ .iroha.surfaceVariant.g }},{{ .iroha.surfaceVariant.b }}
BackgroundNormal    = {{ .iroha.surfaceVariant.r }},{{ .iroha.surfaceVariant.g }},{{ .iroha.surfaceVariant.b }}
ForegroundNormal    = {{ .iroha.onSurfaceVariant.r }},{{ .iroha.onSurfaceVariant.g }},{{ .iroha.onSurfaceVariant.b }}

[Colors:Window]
BackgroundNormal    = {{ .iroha.surface.r }},{{ .iroha.surface.g }},{{ .iroha.surface.b }}
ForegroundNormal    = {{ .iroha.onSurface.r }},{{ .iroha.onSurface.g }},{{ .iroha.onSurface.b }}

[General]
Name                = Dynamic System
