# Monitor configuration

{{- $monitors := .monitors }}
{{- $xOffset := 0 }}

{{- range $index, $monitor := $monitors }}
{{- $highestModeIndex := sub (len $monitor.availableModes) 1 }}
{{- $highestMode := index $monitor.availableModes $highestModeIndex }}
{{- $parts := split "@" $highestMode }}
{{- $resolution := index $parts "_0" }}
{{- $refreshRateFull := index $parts "_1" }}
{{- $refreshRate := trimSuffix "Hz" $refreshRateFull }}
{{- $resParts := split "x" $resolution }}
{{- $widthStr := index $resParts "_0" }}
{{- $heightStr := index $resParts "_1" }}
{{- $width := atoi $widthStr }}

{{- $scaleStr := printf "%.2f" $monitor.scale }}
{{- $scaleStrNoDot := $scaleStr | replace "." "" }}
{{- $scalePadded := printf "%-04s" $scaleStrNoDot | replace " " "0" }}
{{- $scaleInt := atoi $scalePadded }}
{{- $nextWidth := div (mul $width 1000) $scaleInt }}

# Monitor {{ $index }}: {{ $monitor.name }}
monitor={{ $monitor.name }},{{ $resolution }}@{{ $refreshRate }},{{ $xOffset }}x0,{{ $monitor.scale }}
monitor={{ $monitor.name }},transform,0

{{- $xOffset = $nextWidth }}
{{- end }}

xwayland {
    force_zero_scaling = true
  }
