[font]
size = 9.0

[font.bold]
family = "SpaceMono Nerd Font Propo"
style = "Bold"

[font.bold_italic]
family = "SpaceMono Nerd Font Propo"
style = "Bold Italic"

[font.italic]
family = "SpaceMono Nerd Font Propo"
style = "Italic"

[font.normal]
family = "SpaceMono Nerd Font Propo"
style = "Regular"

[window]
# padding = { x = 5, y = 5 }
opacity = 0.7

[colors.primary]
background = "{{ .iroha.surface.hex }}"
foreground = "{{ .iroha.onSurface.hex }}"

[colors.bright]
cyan = "{{ .iroha.surfaceVariant.hex }}"

[colors.normal]
cyan = "{{ .iroha.primary.hex }}"
